@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:
  linear-gradient(
    180deg,
    #041a2d 0%,
    #02111f 100%
  );

  color:#fff;
  font-family:'Inter',sans-serif;

  display:flex;
  justify-content:center;
}

.app{
  width:100%;
  max-width:430px;
  min-height:100vh;
}

/* HEADER */

.header{
  padding:18px 18px 10px;
}

.league-info{
  display:flex;
  align-items:center;
  gap:10px;
}

.league-logo{
  width:120px;
  height:120px;
  object-fit:contain;
}

#league-name{
  font-size:42px;
  font-weight:500;
  letter-spacing:-1px;
}

#season{
  color:#f0b72f;
  font-size:18px;
  font-weight:400;
  margin-top:2px;
}

/* TOP TABS */

.tabs{
  display:flex;
  justify-content:space-around;

  border-bottom:
  1px solid rgba(255,255,255,.08);

  margin-top:4px;
}

.tab{
  border:none;
  background:none;

  display:flex;
  align-items:center;
  gap:8px;

  color:#8e98a5;

  font-size:15px;
  font-weight:400;

  padding:16px 0 14px;

  cursor:pointer;
  position:relative;
}

.tab svg{
  width:20px;
  height:20px;
}

.tab.active{
  color:#efbb35;
}

.tab.active::after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;

  width:100%;
  height:2px;

  background:#efbb35;
}

/* SUB TABS */

.mode-switch{
  display:flex;
  gap:10px;

  margin:20px 16px 16px;
}

.mode{
  flex:1;
  height:44px;

  border-radius:16px;

  border:
  1px solid rgba(
    255,255,255,.12
  );

  background:
  rgba(255,255,255,.02);

  color:#97a0ab;

  font-size:14px;
  font-weight:400;

  cursor:pointer;
}

.mode.active{
  border:1px solid #efbb35;
  color:#efbb35;
  background:transparent;
}

/* TABLE */

.table-card{
  margin:0 14px 30px;

  border-radius:26px;
  overflow:hidden;

  background:
  rgba(255,255,255,.03);

  border:
  1px solid rgba(
    255,255,255,.08
  );
}

.row{
  display:grid;
  align-items:center;

  min-height:68px;
  padding:0 14px;

  border-bottom:
  1px solid rgba(
    255,255,255,.05
  );
}

.row:last-child{
  border-bottom:none;
}

.header-row{
  min-height:52px;

  color:#788391;
  font-size:12px;
}

/* SHORT TABLE */

.short-row{
  grid-template-columns:
  22px
  1fr
  36px
  46px
  46px;
}

.team-box{
  display:flex;
  align-items:center;
  gap:10px;

  font-size:18px;
  font-weight:500;
}

.team-logo{
  width:38px;
  height:38px;
  object-fit:contain;
}

/* COLORS */

.points{
  color:#efbb35;
  font-weight:600;
}

.positive{
  color:#22d761;
}

.negative{
  color:#ff5353;
}

/* TOP 3 */

.row:nth-child(2){
  border-left:
  3px solid #18d85a;
}

.row:nth-child(3){
  border-left:
  3px solid #2a8dff;
}

.row:nth-child(4){
  border-left:
  3px solid #efbb35;
}
